<section id="main">
  <table id="project-view">
    {{#each task in tasks itemController="Task"}}
      <tr>
        <td>{{input type="checkbox" name="completed" checked=task.completed action="saveTask" }}</td>
        <td>{{task.name}}</td>
        <td><button {{action 'destory'}} class="destroy">Delete</button></td>
      </tr>
    {{/each}}
  </table>
</section>
<section>
  <h2>Add Task</h2>
  {{ input type="text" placeholder="Task name" value=newTaskName action="createTask"}}
</section>
{{# link-to "projects.index" }}All projects{{/link-to}}
