<section id="main">
  <table id="projects-list">
    {{#each project in controller}}
      <tr>
        <td>{{project.name}}</td>
        <td><button {{action 'view'}} class="view">View</button></td>
        <td><button {{action 'destroy'}} class="destroy">Delete</button></td>
      </tr>
    {{/each}}
  </table>
</section>
<section>
  <h2>Create Project</h2>
  <label>Name:</label>
  {{ input type="text" id="new-project" placeholder="Project name" value=newProjectName action="createProject" }}
</section>
